body{
    font-family: 'Arial',sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: .01em;
}
 .Movie img{
    width: 115%;
}
.Movie{
    
    text-align: center;
} 
#Movies{
    display: flex;
    /* width: 50%; */
    flex-wrap: wrap;
    justify-content: space-between;
}
button{
    background-color: #4caf50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}
label{
    margin-bottom: 0.5em;
}